body{
    background: url("../../../public/background_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
  }



  .typewriter h1 {
  color: black; /* Set text color to black */
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: normal; /* Allow text to wrap */
  margin: 0; /* Remove auto margin */
  padding: 0 10px; /* Add padding for better appearance */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* Create a container to position the typewriter text */
.typewriter-container {
  width: 50%; /* Adjust width as needed */
  float: left; /* Align to the left */
}

/* app/dashboard-3/dashboard.css */

.beautiful-button {
  background-color: #007bff; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the container element (button) an inline-block element */
  font-size: 16px; /* Increase font size */
  margin: 10px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.beautiful-button:hover {
  background-color: #0056b3; /* Darker blue background on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
